A {
	COLOR: #000064
}
A:visited {
	COLOR: #990099
}
A:hover {
	COLOR: #0000ff
}
.nav {
	FONT: bold 14px/130% color: #ffffff
}
A.nav {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.nav:visited {
	COLOR: #ffffff
}
A.nav:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.navlink {
	FONT: 12px color: #000033
}
A.navlink:visited {
	COLOR: #000033
}
A.navlink:hover {
	COLOR: #0000ff
}
A.listlink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 130%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.hr {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
A.hr {
	COLOR: #ffffff
}
A.hr:visited {
	COLOR: #ffffff
}
.hlf {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.hls {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.text {
	FONT-SIZE: 12px; LINE-HEIGHT: 120%; FONT-FAMILY: MS Song, ו, Beijing
}
.date {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cccccc; LINE-HEIGHT: 150%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.diary {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5186ba; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.quote {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.tagline {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999999; LINE-HEIGHT: 150%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.days {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.caption {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999999; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.temp {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.mininav {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 130%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.detail {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.info {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
A.info {
	COLOR: #ffffff
}
A.info:visited {
	COLOR: #ffffff
}
A.info:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
.language {
	FONT: 10px Verdana, Arial, sans-serif; COLOR: #cccccc
}
A.language {
	COLOR: #cccccc
}
A.language:visited {
	COLOR: #cccccc
}
A.language:hover {
	COLOR: #cccccc
}
.languageselected {
	COLOR: #ffffff
}
A.back {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
A.back:visited {
	COLOR: #ffffff
}
A.back:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
.official {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
SUP {
	FONT-WEIGHT: normal; FONT-SIZE: 75%; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.alert {
	COLOR: #ff0000
}
A.nfwca {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
A.nfwca:visited {
	COLOR: #000000
}
A.nfwca:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
.scores {
	FONT: bold 12px Arial, sans-serif; COLOR: #c25000
}
.dates {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
UNKNOWN {
	MARGIN: 5px
}
.th {
	BACKGROUND: #0c3980
}
.tm {
	BACKGROUND: #0b5eb2
}
.ts {
	BACKGROUND: #e7e9f2
}
.tg {
	BACKGROUND: #ced3e5
}
.tw {
	BACKGROUND: #ffffff
}
.tb {
	BACKGROUND: #000000
}
.tl {
	BACKGROUND: #ccccff
}
.twc {
	BACKGROUND: #ffffee
}
.row {
	BACKGROUND: #eeeeee
}
.tr {
	COLOR: #0c3980
}
.tf {
	BACKGROUND: #000066
}
.bra {
	COLOR: #2a3668
}
.sen {
	COLOR: #d5d329
}
